{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>

        {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="font-weight: bold; font-size: 19px;">
                    {{ post.title }}
                </h3>
                <small class="text-muted">{{ post.posted|date:"d.m.Y H:i" }}</small>
            </div>

            <div class="panel-body">
                <p style="font-size: 15px; color: #555;">{{ post.description }}</p>
            </div>

            <div class="panel-footer" style="background-color: #fff; border-top: 1px solid #eee; overflow: auto;">
                <a href="{% url 'blogpost' parametr=post.id %}" class="btn btn-primary btn-sm pull-right">
                    Читать далее
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}