{% extends "app/layout.html" %}

{% block content %}

<h1>{{ title }}</h1>
<hr />
<div>
    <h2>Начался полноценный запуск обновлённого апскейлера PSSR для PS5 Pro</h2>
    <VIDEO src="/media/psr.mp4" controls="controls" width="400" height="300" poster="/media/zastavka.jpg"></VIDEO>
</div>
<hr />
<div>
    <h2>NVIDIA анонсировала DLSS 5 </h2>
    <VIDEO src="/media/dlss5.mp4" controls="controls" width="400" height="300" poster="/media/zastavka.jpg"></VIDEO>
</div>

<div>
    <h2>Apple представила обновлённые MacBook Air и MacBook Pro</h2>
    <VIDEO src="/media/apple.mp4" controls="controls" width="400" height="300" poster="/media/zastavka.jpg"></VIDEO>
</div>

{% endblock %}
